<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trading.backend.losermapper.PfCouponRewardDetailMapper">
    <resultMap id="BaseResultMap" type="com.trading.backend.domain.PfCouponRewardDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="relate_coupon_delivery_id" jdbcType="BIGINT" property="relateCouponDeliveryId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_type" jdbcType="INTEGER" property="orderType"/>
        <result column="coin" jdbcType="VARCHAR" property="coin"/>
        <result column="amount" jdbcType="NUMERIC" property="amount"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="utime" jdbcType="TIMESTAMP" property="utime"/>
        <result column="created_time" jdbcType="BIGINT" property="createdTime"/>
        <result column="updated_time" jdbcType="BIGINT" property="updatedTime"/>
        <result column="coupon_type" jdbcType="INTEGER" property="couponType"/>
        <result column="interest_expiration_time" jdbcType="BIGINT" property="interestExpirationTime"/>
        <result column="activate_condition" jdbcType="INTEGER" property="activateCondition"/>
        <result column="activate_time" jdbcType="BIGINT" property="activateTime"/>
        <result column="arrived_time" jdbcType="BIGINT" property="arrivedTime"/>
        <result column="reward_uid" jdbcType="VARCHAR" property="rewardUid"/>
        <result column="coupon_id" jdbcType="BIGINT" property="couponId"/>
        <result column="business_side" jdbcType="SMALLINT" property="businessSide"/>
    </resultMap>

    <resultMap id="RewardDetailWithRuleOrder" type="com.trading.backend.domain.RewardDetailWithRuleOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="relate_coupon_delivery_id" jdbcType="BIGINT" property="relateCouponDeliveryId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_type" jdbcType="INTEGER" property="orderType"/>
        <result column="coin" jdbcType="VARCHAR" property="coin"/>
        <result column="amount" jdbcType="NUMERIC" property="amount"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="utime" jdbcType="TIMESTAMP" property="utime"/>
        <result column="created_time" jdbcType="BIGINT" property="createdTime"/>
        <result column="updated_time" jdbcType="BIGINT" property="updatedTime"/>
        <result column="coupon_type" jdbcType="INTEGER" property="couponType"/>
        <result column="interest_expiration_time" jdbcType="BIGINT" property="interestExpirationTime"/>
        <result column="activate_condition" jdbcType="INTEGER" property="activateCondition"/>
        <result column="activate_time" jdbcType="BIGINT" property="activateTime"/>
        <result column="arrived_time" jdbcType="BIGINT" property="arrivedTime"/>
        <result column="reward_uid" jdbcType="VARCHAR" property="rewardUid"/>
        <result column="coupon_id" jdbcType="BIGINT" property="couponId"/>
        <result column="business_side" jdbcType="SMALLINT" property="businessSide"/>

        <result column="expt_end_time" jdbcType="TIMESTAMP" property="exptEndTime"/>
        <result column="ext_order_id" jdbcType="VARCHAR" property="extOrderId"/>
        <result column="rule" jdbcType="OTHER" property="rule"/>
    </resultMap>

    <select id="selectJoinReward" resultMap="RewardDetailWithRuleOrder">
        select * from pf_coupon_reward_detail where coupon_type = #{copnType}
    </select>
</mapper>